@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 400;
}

h4,
h2 {
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: normal;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.logo h1 a {
    font-weight: 400;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    padding: 0 30px;
    position: fixed;
    width: 100%;
}

/* .navbar.top {
    background-color: transparent;
} */

.navbar ul {
    width: 80%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}

.navbar ul a {
    color: #fff;
    padding: 10px 20px;
    /* margin: 0 5px; */
}

.navbar ul a:hover {
    border-bottom: 2px solid #28a745;
}

.hero {
    background: url(../images/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100%;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.hero .content h1 {
    font-size: 55px;
    font-weight: 400;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    padding: 20px 0 30px;
}

.our-blog.hero {
    background: url(../images/blog/blog1.jpg) no-repeat center center/cover;
    height: 35vh;
}

.our-blog.hero.post1 {
    background: url(../images/home/blog.jpg) no-repeat center center/cover;
    height: 35vh;
}

.hero .content a {
    color: #fff;
}

#about {
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background: #fafafa;
    justify-content: space-between;
    height: 100%;
}

#about .item {
    text-align: center;
    padding: 1.5rem;
    flex: 1;
}

#about .item i {
    padding: 1rem;
    background: #28a745;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#about-part2 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#about-part2 .people-img {
    background: url(../images/home/people.jpg) no-repeat center center/cover;
    flex: 1;
}

#about-part2 .looking-for {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #28a745;
    color: #fff;
    padding: 2rem 1.5rem;
    justify-content: center;
    min-height: 600px;
    height: 100%;
    align-items: flex-start;
}

#about-part2 .looking-for p {
    margin-bottom: 2rem;
}

#about-part2 .looking-for .btn {
    background: transparent;
    border: 1px solid #fff;
}

#cases {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #fafafa;
}

#cases .header {
    display: flex;
    padding: 2rem 0 1rem;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
}

#cases .photos {
    display: flex;
    flex-wrap: wrap;
}

#cases .photos img {
    flex: 1;
    width: 25%;
    padding: 4px;
}

#cases .photos img:hover {
    opacity: 0.7;
}

.blog {
    display: flex;
}

.blog .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 600px;
    align-items: flex-start;
    padding: 0 1.5rem;
    flex: 1;
}

.blog .content p {
    margin-bottom: 1rem;
}

.blog .img {
    background: url(../images/home/blog.jpg) no-repeat center center/cover;
    padding: 0 1.5rem;
    flex: 1;
}

.blog-reverse {
    flex-direction: row-reverse;
}

.blog .blog2-img {
    flex: 1;
    background: url(../images/blog/blog2.jpg) no-repeat center center/cover;
}

.blog .blog3-img {
    flex: 1;
    background: url(../images/blog/blog3.jpg) no-repeat center center/cover;
}

#team {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background: #fafafa;
}

#team .header {
    display: flex;
    padding: 0 0 2rem;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
}

#team .content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

#team .content .profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin: 0 2rem;
}

#team .content .profile img {
    border-radius: 50%;
}

#contact {
    display: flex;
    background: #eee;
    height: 600px;
}

#contact .img {
    flex: 1;
    background: url(../images/home/contact.jpg) no-repeat center center/cover;
}

#contact .form {
    flex: 1;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    align-content: center;
}

#contact .form form {
    width: 100%;
    margin: 1rem;
}

#contact .form input {
    display: block;
    width: 100%;
    margin: 1.5rem 0;
    padding: 12px 10px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
}

#contact .form .btn {
    display: block;
    text-align: center;
    padding: 6px;
}

#contact .form input:focus {
    outline-color: #28a745;
}

/* Post pages */
.blog-post {
    display: flex;
    height: 100%;
    color: white;
}

.blog-post.post-one {
    background: url(../images/blog/blog1.jpg) no-repeat center center/cover;
}

.blog-post.post-two {
    background: url(../images/blog/blog2.jpg) no-repeat center center/cover;
}

.blog-post .container {
    background: rgba(0, 0, 0, 0.6);
}

.blog-post .content {
    width: 60%;
    margin: auto;
    padding: 2rem 1.5rem;
}

.blog-post .content p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

#footer {
    padding: 2.5rem;
    text-align: center;
}

#footer .social i {
    margin: 10px 0.7rem;
    font-size: 1.75rem;
}

#footer .social i:hover {
    color: #28a745;
}

/* Mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 1.25rem;
    }

    .navbar li a {
        padding: 10px;
    }

    .hero .content {
        padding-top: 5rem;
    }

    .hero .content h1 {
        font-size: 2.25rem;
    }

    .hero .content p {
        font-size: 1rem;
    }

    #about {
        flex-direction: column;
    }

    #about .item {
        display: flex;
    }

    #about .item i {
        align-self: center;
        margin-right: 1rem;
    }
    #about .item div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
    }

    #about-part2 {
        flex-direction: column;
    }

    #about-part2 .people-img {
        display: none;
    }

    #cases .photos img {
        width: 50%;
    }

    .blog {
        flex-direction: column;
    }

    .blog img {
        display: none;
    }

    .blog-reverse .content {
        align-items: flex-end;
        text-align: end;
    }

    #team .content {
        flex-direction: column;
    }

    #team .content .profile {
        margin-bottom: 1.5rem;
        width: 75%;
    }

    #team .content .profile p {
        margin: 5px 0;
        font-size: 0.85rem;
    }

    #contact {
        flex-direction: column;
        background: url(../images/home/contact.jpg) no-repeat center
            center/cover;
    }

    #contact .img {
        display: none;
    }

    .blog-post .content {
        width: 90%;
    }

    .blog-post .content p {
        font-size: 1.25rem;
    }
}
