.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background: #333;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background: #28a745;
}

.btn-outline {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-dark {
    background: #333;
}

.bg-light {
    background: #f4f4f4;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-blue {
    background: #0098fd;
    color: #fff;
}
